@use './accessibility' as *;

@mixin linkBase {
  color: hsl(var(--color-link));
  text-transform: capitalize;
  font-family: var(--font-link);
  font-weight: var(--fw-bold);
  line-height: 1.5;
  transition: var(--transition-main);
  @include focus-outline;
}

@mixin linkBtn {
  @include linkBase;
  max-width: fit-content;
  margin: var(--pixel-6) auto;
  padding: var(--pixel-6) var(--pixel-24);
  border: var(--border-400);
  border-radius: var(--br-16);
  box-shadow: var(--shadow-2);
  background-color: hsl(var(--color-bg));

  &:focus-visible,
  &:hover {
    box-shadow: var(--shadow-4);
    background-color: hsl(var(--color-link));
    color: hsl(var(--color-bg));
    transform: scale(1.05);
  }

  &:active {
    box-shadow: none;
    transform: scale(0.95);
  }
}

@mixin linkText {
  @include linkBase;
  position: relative;
  font-size: var(--fs-500);

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: hsl(var(--color-link));
    transition: var(--transition-main);
  }

  &::before {
    bottom: -4px;
    left: 0;
  }

  &::after {
    top: -4px;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
  }

  &:hover,
  &:focus-visible {
    color: hsl(var(--color-link-hover));
  }

  &:hover::before,
  &:hover::after,
  &:focus-visible::before,
  &:focus-visible::after {
    background-color: hsl(var(--color-link-hover));
  }

  &:hover::after,
  &:focus-visible::after {
    transform: scaleX(1);
  }
}
